@mixin background($img){
  background: url($img) no-repeat center;
  background-size: 100% auto;
}
@function animation($title){
  @return $title 6s linear infinite;
}
@mixin prefix($property, $value){
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img {
  vertical-align: top;
  border: none;
}
input,
textarea {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-appearance: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  border: 1px solid;
  border-radius: 0;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
a {
  text-decoration: none;
  -webkit-touch-callout: none;
}
em,
i {
  font-style: normal;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
html {
  font-size: 10px;
}
.bg {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  .bg_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    @include background('../images/bg_bg.png');
    .bg_fp {
      position: absolute;
      height: 100%;
      width: 100%;
      @include background('../images/jiantou.png');
      @include prefix(animation, animate-cloud 2000ms linear infinite 0ms);
    }
  }
  .roll {
    position: absolute;
    z-index: 2;
    height: 28rem;
    width: 28rem;
    top: 0;
    left: 0;
    -webkit-animation: animate-start 3000ms linear 0ms forwards, warp-around 1000ms linear 11000ms forwards;

    .roll_first,
    .roll_second,
    .roll_third,
    .roll_core {
      position: absolute;
      top: 0;
      left: 0;
      height: 28rem;
      width: 28rem;
      @include background('../images/Circle1.png');
      @include prefix(animation, myfirst1 2000ms linear  3000ms forwards);
    }
    .roll_second {
      @include background('../images/Circle2.png');
      -webkit-animation: myfirst2 5000ms linear infinite 3000ms, myfirst2-end 200ms linear 11000ms forwards;
    }
    .roll_third {
      @include background('../images/Circle3.png');
      @include prefix(animation, myfirst3 5000ms linear infinite 3000ms);
      -webkit-animation: myfirst3 5000ms linear infinite 3000ms, myfirst3-end 200ms linear 11000ms forwards;
    }

  }
  .roll_bubble {
    position: absolute;
    z-index: 2;
    height: 28rem;
    width: 28rem;
    top: 17%;
    left: 0;
    -webkit-animation: hid 3000ms linear 0ms forwards, shw 5000ms linear 3000ms forwards;
    .roll_core {
      height: 28rem;
      width: 28rem;
      @include background('../images/Scan.png');
      animation: core 5000ms linear 3000ms forwards, hid 0ms linear 8000ms forwards;

    }
    .core_roll {
      height: 28rem;
      width: 28rem;
      @include background('../images/bao.png');
      position: absolute;
      top: 3%;
      animation: hid 8000ms linear 0ms forwards, bao 3000ms linear 8000ms forwards;
    }
    .check{
      width: 6rem;
      height: 3.5rem;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -3rem 0 0 -3rem;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      overflow: hidden;
    }
    .check:before,
    .check:after {
      content: "";
      position: absolute;
      background: #68ffd8;
      border-radius: 2px;
      width: 4px;
      height: 3.5rem;
      left: 0;
      -webkit-animation: hid 8500ms linear 0ms forwards, dgLeft 500ms linear 8500ms forwards, hid 1000ms linear 11000ms forwards;
    }
    .check:after {
      width: 6rem;
      height: 4px;
      bottom: 0;
      -webkit-animation: hid 8500ms linear 0ms forwards, dgRight 500ms linear 9000ms forwards, hid 1000ms linear 11000ms forwards;
    }
    .one,
    .two,
    .three,
    .four,
    .five {
      .bubble {
        position: absolute;
        top: 40%;
        left: 10%;
        width: 10rem;
        height: 10rem;
        @include background('../images/bao.png');
        @include prefix(animation, bubble 1000ms linear 3000ms forwards);
      }
      .line {
        position: absolute;
        top: 48%;
        left: 18%;
        width: 4rem;
        height: 5rem;
        @include background('../images/X_1_line.png');
        @include prefix(animation, bubble 200ms linear 3200ms forwards);
      }
      .text {
        position: absolute;
        color: #fff;
        top: 45%;
        left: 2%;
        animation: hid 3000ms linear 0ms forwards,
        shw 3000ms linear 3000ms forwards,
        text-move 500ms linear 8000ms forwards;
      }
    }
    .two {
      .bubble {
        top: 12%;
        left: 20%;
        animation: hid 800ms linear 3000ms forwards, bubble 1000ms linear 3800ms forwards;
      }
      .line{
        top: 17%;
        left: 16%;
        width: 6rem;
        height: 8rem;
        animation: hid 800ms linear 3000ms forwards, bubble 200ms linear 4000ms forwards;
      }
      .text {
        top: 15%;
        left: 1%;
        animation:hid 800ms linear 3000ms forwards,
        shw 3000ms linear 3800ms forwards,
        text-move 500ms linear 8000ms forwards;
      }
    }
    .three {
      .bubble {
        top: 16%;
        left: 48%;
        animation: hid 1600ms linear 3000ms forwards, bubble 1000ms linear 4600ms forwards;
      }
      .line {
        top: 4%;
        left: 48%;
        width: 5rem;
        height: 8rem;
        @include background('../images/Z_2_line.png');
        animation: hid 1600ms linear 3000ms forwards, bubble 200ms linear 4800ms forwards;
      }
      .text{
        top: 2%;
        left: 31%;
        animation:hid 1600ms linear 3000ms forwards,
        shw 3000ms linear 4600ms forwards,
        text-move 500ms linear 8000ms forwards;
      }

    }
    .four{
      .bubble {
        top: 40%;
        left: 52%;
        animation: hid 2400ms linear 3000ms forwards, bubble 1000ms linear 5400ms forwards;
      }
      .line {
        top: 58%;
        left: 71%;
        width: 5rem;
        height: 5rem;
        animation: hid 2400ms linear 3000ms forwards, bubble 200ms linear 5600ms forwards;
      }
      .text {
        top: 68%;
        left: 76%;
        animation:hid 2400ms linear 3000ms forwards,
        shw 3000ms linear 5400ms forwards,
        text-move 500ms linear 8000ms forwards;
      }
    }
    .five{
      .bubble {
        top: 56%;
        left: 30%;
        animation: hid 3200ms linear 3000ms forwards, bubble 1000ms linear 6200ms forwards;
      }
      .line {
        top: 73%;
        left: 48%;
        width: 6rem;
        height: 6rem;
        animation: hid 3200ms linear 3000ms forwards, bubble 200ms linear 6400ms forwards;
      }
      .text {
        top: 82%;
        left: 66%;
        animation:hid 3200ms linear 3000ms forwards,
        shw 3000ms linear 6200ms forwards,
        text-move 500ms linear 8000ms forwards;
      }
    }
  }
  .cat {
    position: relative;
    top: 47%;
    right: -40%;
    @include background('../images/cat.png');
    background-size: 86% auto;
    height: 32rem;
    opacity: 0.5;
  }
}

@include keyframes(animate-start) {
  0% {
    top: 5%;
    opacity: 1;
    -webkit-transform: perspective(600px) scale3d(1, 1, 1) rotateY(0deg) translateZ(-40px);
  }
  25% {
    top: 8%;
    opacity: 0.25;
    -webkit-transform: perspective(600px) scale3d(1, 1, 1) rotateY(45deg) translateZ(-30px);
  }
  50% {
    top: 11%;
    opacity: 0.5;
    -webkit-transform: perspective(600px) scale3d(1.1, 1.1, 1.1) rotateY(90deg) translateZ(-20px);
  }
  75% {
    top: 14%;
    opacity: 0.75;
    -webkit-transform: perspective(600px) scale3d(1.2, 1.2, 1.2) rotateY(135deg) translateZ(-10px);
  }
  100% {
    top: 17%;
    opacity: 1;
    -webkit-transform: perspective(600px) scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(0px);
  }
}
@include keyframes(myfirst1) {
  100% {
    @include prefix(transform, rotate(360deg));
  }
  0% {
    @include prefix(transform, rotate(0deg));
  }
}
@include keyframes(myfirst2) {
  100% {
    @include prefix(transform, rotate(90deg));
  }
  50% {
    @include prefix(transform, rotate(180deg));
  }
  0% {
    @include prefix(transform, rotate(90deg));
  }
}

@include keyframes(myfirst2-end) {
  0% {
    @include prefix(transform, rotate(360deg));
  }
  100% {
    @include prefix(transform, rotate(360deg));
  }

}

@include keyframes(myfirst3) {
  100% {
    @include prefix(transform, rotate(360deg));
  }
  50% {
    @include prefix(transform, rotate(270deg));
  }
  0% {
    @include prefix(transform, rotate(360deg));
  }
}

@include keyframes(myfirst3-end) {
  0% {
    @include prefix(transform, rotate(360deg));
  }
  100% {
    @include prefix(transform, rotate(360deg));
  }

}
@include keyframes(animate-cloud){
  from {
    opacity: 1;
    background-position: 100% 600px;
  }
  to {
    opacity: 0.3;
    background-position: 100% 100%;
  }
}
//隐藏
@include keyframes(hid) {
  100% {
    opacity: 0;
  }
  0% {
   opacity: 0;
  }
}
//显示
@include keyframes(shw) {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 1;
  }
}
//逐渐消失
@include keyframes(shw-hid) {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
//逐渐显示
@include keyframes(hid-shw) {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
//核旋转
@include keyframes(core) {
  100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate(360deg);
  }
  0% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate(0deg);
  }
}
//核5个气泡
@include keyframes(bubble) {
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  0% {
    -webkit-transform: scale3d(0.2, 0.2, 0.2);
    opacity: 0;
  }
}
//圆
@include keyframes(bao) {
  100%{
    opacity: 0;
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
  }
}
//文本移动
@include keyframes(text-move) {
  100%{
    opacity: 0;
    left: 40%;
    top: 50%;
  }
  0% {

  }
}
//对勾
@include keyframes(dgLeft) {
  0% {
    top:-100%;
    opacity: 1;
  }
  100% {
    top:0;
    opacity: 1;
  }
}
@include keyframes(dgRight) {
  0% {
    left:-100%;
    opacity: 1;
  }
  100% {
    left:0;
    opacity: 1;
  }
}
//旋转
@include keyframes(warp-around) {
  0% {
    top: 11%;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(180deg);
  }
  100% {
    top: 5%;
    -webkit-transform: scale3d(1, 1, 1) rotateX(360deg);
  }
}

