
a {
    text-decoration: none;
}
.button {
    margin: 0 auto;
    border: 1px solid #3162ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 20px;
    width: 50px;
    text-align: center;
}

